html, body { 
    margin:0px;
    height:100%;
}

.section {
    min-height: calc(100% - 8rem);
    width: calc(100% - 8rem);
    display: flex;
    padding: 4rem;
}

#about {
    background-color: red;
}

#projects {
    background-color: green;
}

#contact {
    background-color: blue;
}

.links-container {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

.about .links-container img {
    height: 2rem;
}

.responsive {
    max-width: 100%;
    height: auto;
}