:root {
    --tw-gradient-to: #7c3aed;
    --tw-gradient-from: #312e81;
    --tw-gradient-stops: var(--tw-gradient-from),var(--tw-gradient-to,rgba(49,46,129,0));
}

html, body { 
    margin:0px;
    height:100%;
}

.section {
    min-height: calc(100% - 8rem);
    width: calc(100% - 8rem);
    display: flex;
    padding: 4rem;
    position: relative;
    z-index: 0;
}

#about {
    background-color: white;
}

#projects {
    background-color: gray;
}

#contact {
    background-color: blue;
}

.links-container {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

.about .links-container img {
    height: 2rem;
}

.responsive {
    max-width: 100%;
    height: auto;
}

.diagonal-box{
    position: absolute;
    /* transform: translateX(-4rem) translateY(-4rem); */
    left: 0rem;
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(to bottom right,var(--tw-gradient-stops));
    clip-path: polygon(0% 0%,100% 0%,100% 50%,0% 100%);
    z-index: -1;
}