html, body { 
    margin:0px;
    height:100%;
}

.section {
    min-height: 100%;
    width: 100%;
    display: flex;
}

#about {
    background-color: red;
}

#projects {
    background-color: green;
}

#contact {
    background-color: blue;
}